/* css style */

.content-wrapper {
  background-color: #FFFFFF;
}

.skin-blue .main-header .logo {
  background-color: #3c8dbc !important;
  color: white !important;
}

/* Delete focus */
:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.nav-tabs-custom {
  box-shadow: none !important;
  border: none !important;
}

#id_anova-id_anova_one_way-analyze {
  background-color: #3c8dbc !important;
  color: white !important;
  border-color: #3c8dbc !important;
}
