/* css style */

.content-wrapper {
  background-color: #FFFFFF;
}

.skin-purple .main-header .logo {
  background-color: #615da8 !important;
  color: white !important;
}

/* Delete focus */
:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.nav-tabs-custom {
  box-shadow: none !important;
  border: none !important;
}

#id_anova-id_anova_one_way-analyze {
  background-color: #3c8dbc !important;
  color: white !important;
  border-color: #3c8dbc !important;
}


#page_toggle {
  background-color: #605ca8 !important;
  border: none !important;
  color: white !important;
  height: 50px !important;
  width: 50px !important;
  padding: 0 !important;
  margin: 0 !important;
}


#page_toggle:hover {
  background-color: #514c8a !important;
  border: none !important;
}


.skin-purple .main-header .navbar .dropdown {
  padding: 0 !important;
}
